.container {
  width: 100%;
  height: 100vh; /* Full viewport height */
  background-color: #000000;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  box-sizing: border-box;
  overflow: hidden;
}

.heading {
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: calc(var(--base-y) * 5.6);
  margin-bottom: calc(var(--base-y) * 5.5);
  text-align: left;
}

.content {
  display: flex;
  flex-direction: column;
  height: calc(100% - 7rem); /* Account for heading space */
  /* gap: 1rem; */
}
.phone_screens_wrapper {
  width: 100%;
  height: 60%;
}
.phone_screens {
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 100%;
  width: 100%;
  align-items: center;
}

.phone_screen {
  position: relative;
  width: 15%;
  height: 80%;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 1rem;
  overflow: hidden;
}

.phone_screen:hover {
  transform: scale(1.05);
}

.active {
  width: 25%;
  height: 100%;
  z-index: 2;
}

.text {
  display: flex;
  justify-content: center;
  align-items: start;
}

.text_content {
  text-align: center;
  max-width: 800px;
  padding: 0 2rem;
}

.text_content_heading {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.text_content_subheading {
  font-size: 15px;
  font-weight: 600;
  color: #797878;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.text_content_description {
  font-size: 20px;
  font-weight: 400;
  padding-top: 2rem;
  line-height: 1.6;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    height: auto;
    min-height: 100vh;
    padding: 1rem;
  }

  .heading {
    font-size: 1.8rem;
    margin-block: 1rem;
    text-align: center;
  }

  .content {
    width: 100%;
    flex-direction: column;
    height: auto;
    overflow: hidden;
  }

  .phone_screens_wrapper {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scroll-snap-type: x mandatory; /* Enable snap scrolling */
  }
  .phone_screens_wrapper::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .phone_screens {
    display: flex;
    width: fit-content;
    scroll-snap-type: x mandatory; /* Enable snap scrolling */
  }

  .phone_screen {
    height: 400px;
    width: 300px;
    scroll-snap-align: center;
    border-radius: 1rem;
    transition: transform 0.3s ease;
  }

  .active {
    height: 420px;
  }

  .text {
    height: auto;
    margin: 1rem 0;
  }

  .text_content_heading {
    font-size: 20px;
  }

  .text_content_subheading {
    font-size: 9px;
  }

  .text_content_description {
    font-size: 14px;
  }

  /* Disable hover scale effect on mobile */
  .phone_screen:hover {
    transform: none;
  }
}

/* Hide scrollbar for WebKit browsers */
/* .phone_screens::-webkit-scrollbar {
  display: none;
} */
