.container{
    position: relative;
    width: 100%;
    padding-right: calc(var(--base-x) * 6.2);
    margin-top: calc(var(--base-y) * 4);
}
.card_container{
    /* position: sticky; */
    /* top: calc(9 * var(--base-y)); */
    width: 100%;
    margin-bottom: calc(var(--base-y) * 4);
}

@media (max-width: 768px) {
    .card_container{
        margin-bottom: calc(var(--base-y) * 8);
    }
}