.container {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  /* // TEMP FIX  */
  /* overflow: hidden; */
}
.content_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.middle_video_and_text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: calc(4 * var(--base-y));
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle_video_and_text_video {
  overflow: hidden;
  border-radius: 10px;
}
.middle_video_and_text_video,
.middle_video_and_text_video video {
  width: calc(31.3 * var(--base-x));
  height: 100%;
}
.middle_video_and_text_video video {
  transform: scale(3);
  width: 100%;
}
.middle_video_and_text_text {
  width: calc(100% - (31.3 * var(--base-x)));
  height: 100%;
  position: relative;
  overflow: hidden;
}
.middle_video_and_text_text > div:first-child {
  width: 100%;
  height: 100%;
}
.middle_video_bg {
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.middle_video_bg video {
  transform: scale(4);
}
.middle_video_and_text_text_heading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  mix-blend-mode: multiply;
  font-size: calc(var(--base-x) * 5);
  font-weight: 900;

  /* display: flex;
    align-items: flex-end; */
}
.middle_video_and_text_text_heading > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: rotateZ(-90deg);
  text-wrap: nowrap;
}
.top_text {
  text-align: center;
  /* padding-left: calc(2.7 * var(--base-x)); */
}
.top_text_heading {
  font-size: calc(var(--base-x) * 2);
  font-weight: 900;
  margin-block: 2rem;
}
.top_text_description {
  font-size: calc(var(--base-x) * 1);
  text-transform: uppercase;
  font-style: italic;
  margin-bottom: calc(3.5 * var(--base-y));
}
.bottom_text {
  width: 100%;
  padding: 0 calc(2.9 * var(--base-x));
  margin-top: auto;
  text-align: center;
}
.bottom_text_heading {
  display: flex;
  flex-direction: column;
  margin-bottom: calc(1.4 * var(--base-y));
}
.bottom_text_heading {
  width: 100%;
  height: calc(2.5 * var(--base-y));
  font-size: calc(var(--base-x) * 2);
  position: relative;
}
.bottom_text_bg_video {
  width: 70vw;
  height: 100%;
  overflow: hidden;
}
.bottom_text_bg_video video {
  width: 100%;
  transform: scale(3);
}
.bottom_text_heading_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  height: calc(2.6 * var(--base-y));
  mix-blend-mode: multiply;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  color: #d9d9d940;
}
.bottom_text_description {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 24px;
}
