.wrapper {
  position: relative;
  /* height: 100vh; */
  background-color: #000000;
  color: #fff;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: calc(var(--base-y) * 11.6) calc(var(--base-y) * 6.2) 0
    calc(var(--base-y) * 6.2);
  color: #fff;
  font-size: calc(var(--base-x) * 5);
  font-weight: 900;
  text-transform: uppercase;
  z-index: 30;
}

.navigation {
  position: sticky;
  top: calc(var(--base-y) * 16.6);
  width: 100%;
  margin-bottom: 4rem;
  background-color: #000000;
  padding: calc(var(--base-y) * 2) calc(var(--base-y) * 6.2);
  z-index: 20;
}

.cardsContainer {
  position: relative;
  width: 100%;
  padding: 0 calc(var(--base-y) * 6.2) calc(var(--base-y) * 20); /* Increased bottom padding */
  margin-top: calc(var(--base-y) * -5.5);
  /* z-index: 10; */
}

@media (max-width: 768px) {
  .header {
    font-size: 3rem;
    padding: 3rem 1rem;
  }

  .navigation {
    padding: 6rem 0 ;
    top: 1rem; /* Adjusted for mobile header height */
  }

  .cardsContainer {
    padding: 0 ;
    margin-top: 2rem; /* Adjusted for mobile */
  }
}
