/* Main container */
/* .slideshow-container {
  position: relative;
} */

/* Sticky full-screen slide section */
/* .slide {
  position: sticky;
  top: 0;
  height: 100vh;
} */

.slideshow-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.slide {
  height: 100vh; /* or min-height: 100vh */
  scroll-snap-align: start;
}
#lineup-app.slideNew {
  /* height: 100vh; */
  /* min-height: 100vh; */
  scroll-snap-align: start;
  display: flex; /* To let inner content use flex */
  flex-direction: column;
}
