/* Main container */
.slideshow-container {
  position: relative;
}

/* Sticky full-screen slide section */
.slide {
  position: sticky;
  top: 0;
  height: 100vh;
}
/* TODO  */
/* .slideshow-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;  
}

.slideshow-container::-webkit-scrollbar {
  display: none;
}

.slide {
  height: 100vh;
  scroll-snap-align: start;
  flex-shrink: 0;
} */
