.container {
  width: 100%;
  padding: 1rem;
}
.horizontal_line {
  background-color: #fff;
  height: 1px;
  width: 100%;
}
.content {
  display: flex;
  gap: 4rem;
}

.tab {
  font-size: calc(2 * var(--base-x));
  font-weight: 500;
  padding-bottom: calc(2.3 * var(--base-y));
  cursor: pointer;
  width: fit-content;
}

.tab_active {
  border-bottom: 3px solid #fff;
}

@media (max-width: 768px) {
  .tab {
    font-size: calc(1.5 * var(--base-x));
  }
  .content {
    gap: 2rem;
  }
}
@media (max-width: 400px) {
  .tab {
    font-size: calc(1.33 * var(--base-x));
  }
  .content {
    gap: 2rem;
  }
}
