.container {
  width: 100%;
  height: 100%;
  background-color: #000000;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  width: 33.33%;
  height: 100%;
  overflow: hidden;
}
.left video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.right {
  width: 66.66%;
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_text {
  margin-top: auto;
}
.container_text_title {
  position: relative;
  font-size: calc(var(--base-x) * 5);
  font-weight: 700;
  text-align: left;
  width: calc(var(--base-x) * 70.8);
  font-style: italic;
  margin-bottom: calc(var(--base-y) * 2);
  isolation: isolate;
  color: #ffffff3b;
}
.hero_video_wrapper {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.hero_video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(5);
}
.container_text_title_text {
  position: relative;
  z-index: 2;
  background-color: #000000;
  mix-blend-mode: multiply;
  display: inline-block;
  padding: 0 0px;
  color: #fff;
  /* background-color: rgb(255, 0, 0); */
  isolation: isolate;
  width: 100%;
}
.container_text_description {
  font-size: calc(var(--base-x) * 1.5);
  font-weight: 700;
  text-align: left;
  width: calc(var(--base-x) * 70.8);
  text-transform: uppercase;
}
.container_text_footer {
  margin-block: auto;
  font-size: calc(var(--base-x) * 1);
  font-weight: 700;
  text-transform: uppercase;
}
